name: Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened

concurrency:
  group: any
  cancel-in-progress: true

jobs:
  test-client:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: npm
          cache-dependency-path: client/package-lock.json
      - working-directory: client
        run: npm ci
      - working-directory: client
        run: npm run test
  test-e2e:
    env:
      MAVEN_OPTS: -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
      PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
    needs: test-client
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: npm
          cache-dependency-path: client/package-lock.json
      - uses: ankane/setup-postgres@v1
        with:
          postgres-version: 16
      - name: Check pg_dump version
        run: pg_dump --version
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven
          cache-dependency-path: server/pom.xml
      - working-directory: client
        run: npm ci
      - working-directory: client
        run: npm run build
      - name: Install Chromium with dependencies for Playwright
        working-directory: server
        run: mvn test-compile exec:java -B -e -D exec.mainClass=com.microsoft.playwright.CLI -D exec.args="install --with-deps chromium"
      - working-directory: server
        run: mvn test -B
  build-images:
    runs-on: ubuntu-latest
    needs: test-e2e
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: "pip"
      - run: pip install -r requirements.txt

      - run: python scripts/build_docker_image.py ${{ secrets.GITHUB_TOKEN }} ${{ secrets.ANSIBLE_VAULT_KEY }}
